<launch>
  <node pkg="battleship_vision" type="board_camera_node.py" name="board_camera" output="screen">
    <param name="camera_indices" value="[0,1,2,3,4]" />
    <param name="frame_width" value="1280" />
    <param name="frame_height" value="720" />
    <param name="publish_rate" value="10.0" />
    <param name="image_topic" value="board_camera/image_raw" />
    <param name="frame_id" value="board_camera_optical_frame" />
  </node>
</launch>
